@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./fonts";
@import "./borders";
@import "./shame";


:root{
  --lime: #cdebdd;
  --black: #222;
  --h1: 70px;
}

*{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
}

body{
  background-color: var(--lime);
}

h1, h2, h3, h4, h5, h6{
  margin: .4em 0px;
  font-family: 'Oswald', sans-serif;
}
